<% content_for :title, "Editing volunteer application" %>

<h1>Editing volunteer application</h1>

<%= render "form", volunteer_application: @volunteer_application %>

<br>

<div>
  <%= link_to "Show this volunteer application", @volunteer_application %> |
  <%= link_to "Back to volunteer applications", volunteer_applications_path %>
</div>
